<app-default-login-layout
  title="Sign up and start today!"
  primaryButtonText="Signup Now"
  secondaryButtonText="Login Now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryButton]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-primary-input formControlName="name" inputName="name" type="text" label="Your Name" placeHolder="Example">
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
    <app-primary-input formControlName="email" inputName="email" type="email" label="Email" placeHolder="example@email.com">
      <img src="/assets/svg/email-icon.svg" />
    </app-primary-input>
    <app-primary-input formControlName="password" inputName="password" type="password" label="Password" >
      <img src="/assets/svg/password-icon.svg" />
    </app-primary-input>
    <app-primary-input formControlName="passwordConfirm" inputName="passwordConfirm" type="password" label="Password Confirm" >
      <img src="/assets/svg/password-icon.svg" />
    </app-primary-input>
  </form>
</app-default-login-layout>
